<li data-id="{{id}}">
    {{^visible}}<span class="disabled">{{/visible}}
        {{shortname}} <em>{{idnumber}}</em>
    {{^visible}}</span>{{/visible}}
    {{#haschildren}}
    <ul>
    {{#children}}
    {{> tool_learningplan/competencies_tree }}
    {{/children}}
    </ul>
    {{/haschildren}}
</li>
