{{> theme_cleanm/partials_banner }}

<div id="page" class="container-fluid">
    <header id="page-header" class="clearfix">
        {{{html_heading}}}
        <div id="page-navbar" class="clearfix">
            <nav class="breadcrumb-nav">{{{navbar}}}</nav>
            <div class="breadcrumb-button">{{{page_heading_button}}}</div>
        </div>
        <div id="course-header">
            {{{course_header}}}
        </div>
    </header>

    <div id="page-content" class="row-fluid">
        <section id="region-main" class="{{{regionmain}}}">
            {{{course_content_header}}}
            <span>Mustache template</span>
            {{{main_content}}}
            {{{course_content_footer}}}
        </section>
        {{{blocks_side_pre}}}
    </div>
</div>

{{> theme_cleanm/partials_page_footer }}
