<div id="page" class="container-fluid">
    <header id="page-header" class="clearfix">
        {{{html_heading}}}
    </header>

    <div id="page-content" class="row-fluid">
        <section id="region-main" class="span12">
            <span>Mustache template</span>
            {{{main_content}}}
        </section>
    </div>
</div>

<footer id="page-footer">
    {{{standard_footer_html}}}
</footer>
