{{{doctype}}}
<html{{{htmlattributes}}}>
<head>
    <title>{{{page_title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{{favicon}}}"/>
    {{{standard_head_html}}}
</head>

<body {{{body_attributes}}}>

{{{standard_top_of_body_html}}}

{{{pagelayout}}}

{{{standard_end_of_body_html}}}

</body>
</html>
