{{{doctype}}}
<html{{{htmlattributes}}}>
<head>
    <title>{{{page_title}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{{favicon}}}"/>
    {{{standard_head_html}}}
</head>

<body {{{body_attributes}}}>

{{{standard_top_of_body_html}}}

<header role="banner" class="navbar navbar-fixed-top moodle-has-zindex">
    <nav role="navigation" class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{{wwwroot}}}">{{{shortname}}}</a>
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li>{{{page_heading_menu}}}</li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="page" class="container-fluid">
    <header id="page-header" class="clearfix">
        {{{html_heading}}}
    </header>

    <div id="page-content" class="row-fluid">
        <div id="region-main-box" class="{{{regionmainbox}}}">
            <div class="row-fluid">
                <section id="region-main" class="{{{regionmain}}}">
                    <span>Mustache template</span>
                    {{{main_content}}}
                </section>
                {{{blocks_side_pre}}}
            </div>
        </div>
        {{{blocks_side_post}}}
    </div>
</div>

{{{standard_end_of_body_html}}}

</body>
</html>
